@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login {
  height: calc(100vh - 7rem);

  &__page-header {
    @include t-page-header($primary-dark-color);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 24rem;
    margin: 0 auto;
    padding: 4rem;
  }

  &__image {
    border-radius: 50%;
    width: 6rem;
  }
}
